<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>金链萌</title>

    <style>
        .xiaoxiliebiao {
            position: relative;
            left: 3%;
        }

        ol li {
            margin-top: 10px;
        }

        .anniu {
            position: relative;
            right: -50%;
        }

        #tb a:visited {
            color: black;
        }

        #tb a:hover {
            text-decoration: underline;
            color: #009688;
        }

        .logoImages {
            width: 100%;
            /* height:100px; */
            position: relative;
            top: -5px;
            left: -15px;
        }
    </style>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">

</head>

<body class="sidebar-mini fixed">
<div class="wrapper">

    <!-- 导航栏 -->
    <header class="main-header hidden-print">
        <!--<a class="logo">logo金链萌</a>-->
        <a class="logo text-center">
            <img th:src="@{/images/logo1.png}" alt="logo" class="logoImages">
        </a>
        <nav class="navbar navbar-static-top">
            <a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>
            <div class="navbar-custom-menu">
                <ul class="top-nav">
                    <!-- 消息通知 -->
                    <li class="dropdown notification-menu"><a class="dropdown-toggle" href="#" data-toggle="dropdown"
                                                              aria-expanded="false"><i
                            class="fa fa-bell-o fa-lg"></i></a>
                        <ul class="dropdown-menu">
                            <li class="not-head">你有新的通知消息</li>
                        </ul>
                    </li>
                    <!--个人中心-->
                    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                        <ul class="dropdown-menu settings-menu">
                            <li><a href="#"><i class="fa fa-cog fa-lg"></i>设置</a></li>
                            <li><a href="#"><i class="fa fa-user fa-lg"></i>个人中心</a></li>
                            <li><a href="#"><i class="fa fa-sign-out fa-lg"></i>登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- 侧边栏-->
    <aside class="main-sidebar hidden-print">
        <section class="sidebar">

            <!-- 头像 名称 -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p th:text="'姓名:'+${user.name}"></p>
                    <p class="designation" th:text="'电话:'+${user.phone}"></p>
                </div>
            </div>

            <!-- 信息展示项 -->
            <ul class="sidebar-menu">
                <li><a th:href="'/index/user/'+${user.identification}"><i class="fa fa-dashboard"></i><span>我的授权</span></a>
                </li>
                <li><a th:href="'/user/bankflow?identification='+${user.identification}"><i
                        class="fa fa-th-list"></i><span>银行信息</span></a></li>
                <li><a href="caichan.html"><i class="fa fa-edit"></i><span></span>财产证明</span></a></li>
                <li><a href="huji.html"><i class="fa fa-laptop"></i><span></span>户籍证明</a></span></li>
                <li><a href="yiliao.html"><i class="fa fa-file-text"> </i><span></span>医疗记录</span></a></li>
                <li><a href="xueli.html"><i class="fa fa-circle-o"></i><span></span>学历信息</span></a></li>
            </ul>

        </section>
    </aside>

    <!-- 内容区域 -->
    <div class="content-wrapper">
        <div class="row">
            <div class="card">
                <h3 class="card-title xiaoxiliebiao">消息列表</h3>
                <div class="news-item" th:each="record,stat :${applyRecords}">

                            <span class="news-date"
                                  th:text="${stat.index+1}+'. '+${record.companyName}+'向您请求查看'+${record.msgTypeStr}+'有关信息'">

                            </span>

                    <span class="anniu">
                                <button class="btn btn-primary btn-xs" th:id="'abtn'+${stat.index}"
                                        th:onclick="'javascript:agree('+${record.id}+','+${record.personIdentification}+','+${stat.index}+')'">同意</button>
                                <button class="btn btn-danger btn-xs" th:id="'rbtn'+${stat.index}"
                                        th:onclick="'javascript:disagree('+${record.id}+','+${record.personIdentification}+','+${stat.index}+')'">拒绝</button>

                            </span>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/pace.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

    <script>

		function agree(applyId, identification, index) {
			var abtn = document.getElementById('abtn' + index);
			var rbtn = document.getElementById('rbtn' + index);
			abtn.innerHTML = "已同意";
			// abtn1.style.color = grey;  1 同意  0  拒绝
			abtn.disabled = true;
			rbtn.disabled = true;
			$.ajax({
				url: "/user/agree",
				data: {
					applyId: applyId,
					identification: identification
				},
				success: function (data) {
				}
			});

		}

		function disagree(applyId, identification, index) {
			var abtn = document.getElementById('abtn' + index);
			var rbtn = document.getElementById('rbtn' + index);
			rbtn.innerHTML = "已拒绝";
			// abtn1.style.color = grey;  1 同意  0  拒绝
			abtn.disabled = true;
			rbtn.disabled = true;
			$.ajax({
				url: "/user/disagree",
				data: {
					applyId: applyId,
					identification: identification
				},
				success: function (data) {
				}
			});

		}

    </script>


</body>
</html>